node_modules/
.next/
out/
.env
.env.production
.env.local
.env.*.local
.env.example
*.log
npm-debug.log*
.DS_Store
*.pem
.vercel
.turbo
coverage/
prisma/*.db
prisma/*.db-journal
public/uploads/*.webp
package-lock.json
docker-compose.yml
Dockerfile
.dockerignore
.vscode/
*.md